.ocm-c-access-request__card {
  .pf-v5-c-card__title {
    &--header {
      .pf-v5-c-title {
        margin-bottom: var(--pf-v5-global--spacer--md);
      }
      .access-request-subtitle {
        font-size: var(--pf-v5-global--FontSize--md);
        font-weight: var(--pf-v5-global--FontWeight--normal);
      }
    }
  }
  &--body {
    .pf-v5-c-button {
      margin-top: var(--pf-v5-global--spacer--md);
    }
  }
}
