.ocm-c-access-request__card {
  .pf-v6-c-card__title {
    &--header {
      .pf-v6-c-title {
        margin-bottom: var(--pf-t--global--spacer--md);
      }
      .access-request-subtitle {
        font-size: var(--pf-t--global--font--size--md);
        font-weight: var(--pf-t--global--font--weight--body--default);
      }
    }
  }
  &--body {
    .pf-v6-c-button {
      margin-top: var(--pf-t--global--spacer--md);
    }
  }
}
