.ocm-c--reduxradiobutton-description {
  color: var(--pf-global--Color--200);
  font-size: var(--pf-global--FontSize--sm);
}

.ocm-c--reduxcheckbox-description {
  padding-left: 22px;
  color: var(--pf-global--Color--200);
  font-size: var(--pf-global--FontSize--sm);
}

#etcdEncryption .pf-l-split__item span {
  position: relative;
  right: 10px;
}

.enableuwmcreate {
  font-size: var(--pf-global--FontSize--md);
  font-weight: var(--pf-global--FontWeight--Normal);
}


.clusterupdatespace {
  margin-top: var(--pf-global--spacer--md);
}

#enable_user_workload_monitoring .pf-l-split__item span {
  position: relative;
  right: 10px;
}
