.ocm-c-machine-pools__card {
  &--body {
    .pf-c-button {
      margin-top: var(--pf-global--spacer--md);
    }
  }
  .pf-c-table__toggle {
    padding-top: 0;
  }
  .pf-c-table__expandable-row-content .autoscale__lim {
    color: var(--pf-global--secondary-color--100);
  }
  .nodes-count {
    margin: 0;
    padding: 0;
  }
}

