.ocm-c-machine-pools__card {
  .pf-v5-c-label--break-word {
    white-space: normal;
    word-break: break-word;
  }
  .pf-v5-c-table__toggle {
    padding-top: 0;
  }
  .pf-v5-c-table__expandable-row-content {
    .autoscale__lim {
      color: var(--pf-v5-global--secondary-color--100);
    }
    .auto_repair {
      color: var(--pf-v5-global--secondary-color--100);
    }
  }
  .nodes-count {
    margin: 0;
    padding: 0;
  }
}

.ocm-c-machine-pools__spot-label {
  margin-left: 8px;
}
