.ocm-c-machine-pools__card {
  .pf-v6-c-label--break-word {
    white-space: normal;
    word-break: break-word;
  }
  .pf-v6-c-table__expandable-row-content {
    .autoscale__lim {
      color: var(--pf-t--global--text--color--subtle);
    }
    .auto_repair {
      color: var(--pf-t--global--text--color--subtle);
    }
    .capacity_reservation {
      color: var(--pf-t--global--text--color--subtle);
    }
  }
  .nodes-count {
    margin: 0;
    padding: 0;
  }
}

.ocm-c-machine-pools__spot-label {
  margin-left: 8px;
}
