.ocm-upgrade-ack-step {
  p {
    font-size: var(--pf-v5-global--FontSize--sm);
    margin-top: var(--pf-v5-global--spacer--sm);
    margin-bottom: var(--pf-v5-global--spacer--sm);
  }
  .ocm-upgrade-ack-step_text-input-label {
    font-size: var(--pf-v5-global--FontSize--md);
    font-weight: var(--pf-v5-global--FontWeight--normal);
  }
}
