.ocm-upgrade-schedule-selection {
  padding-left: var(--pf-global--spacer--lg);
  margin-bottom: var(--pf-global--spacer--lg);
  .pf-c-select > ul {
    max-height: 300px;
    overflow-y: auto;
  }
}
.ocm-c-upgrade-policy-radios {
  .pf-c-radio {
    margin-bottom: var(--pf-global--spacer--lg);
  }
}
.ocm-c-upgrade-node-draining-title {
  margin-bottom: var(--pf-global--spacer--sm);
}

.ocm-c-upgrade-node-draining-subtitle {
  margin-bottom: var(--pf-global--spacer--sm);
  font-size: var(--pf-global--FontSize--lg);
  font-weight: var(--pf-global--FontWeight--Normal);
}

.ocm-c-upgrades-pdb-select {
  margin-top: var(--pf-global--spacer--md);
  .pf-c-select {
      width: auto;
      min-width: 150px;
    > ul {
      max-height: 300px;
      overflow-y: auto;
    }
  }
}

.ocm-c-upgrade-monitoring{
  margin-top: var(--pf-global--spacer--lg);
  grid-gap: 24px;
}

.ocm-c-upgrade-monitoring-top{
  margin-top: var(--pf-global--spacer--sm);
}

.automatic-cluster-updates-alert{
  margin-left: var(--pf-global--spacer--lg);
  margin-bottom: var(--pf-global--spacer--lg);
}
