#ocm-upgrade-status-cancel {
  padding-left: 0px;
}

.ocm-upgrade-available-icon {
  color: var(--pf-v6-global--default-color--200);
}

.ocm-cluster-up-to-date-icon {
  color: var(--pf-t--global--icon--color--status--success--default);
}

.ocm-upgrade-status-scheduled-title {
  font-size: var(--pf-t--global--font--size--sm);
  font-weight: var(--pf-t--global--font--weight--heading--bold);
}
