{
  "extends": "airbnb",
  "env": {
    "browser": true,
    "jest": true
  },
  "rules": {
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": [
          "**/*setupTests.js",
          "**/*.test.js",
          "**/*test.js",
          "**/*.spec.js"
        ]
      }
    ],
    "react/forbid-prop-types": [false],
    "react/require-default-props": [false],
    "react/jsx-no-target-blank": [false],
  },
  "parser": "babel-eslint"
}
