*DS_store
.idea
.vscode
*.log
/backend
/dist/
/build/
/node_modules/
/run/ocm-api-model/
/run/ocm-api-metamodel/
/run/insights-proxy/

# No longer `git clone`d, kept here in case anyone has them checked out:
/run/cucushift/
/run/verification-tests/

/run/output
/vendor/
backend-config.yml
/cypress/screenshots/
/cypress/videos/
/coverage/
.nyc_output/out.json

.yalc
yalc.lock


*.patch

*storybook.log

openapi/*.json

.env*

/unitTestCoverage