.no-associated-aws-accounts_empty-state {
  padding: 0px 0px 16px;
}
.prerequisites-expandable-section {
  .pf-c-expandable-section__content {
    margin-top: 8px;
  }
}

.prerequisites-section {
  padding-left: 24px;
  .pf-c-content {
    p {
      margin-bottom: 8px;
    }
  }
}

.arns-detected-status {
  position: relative;
  left: -446px;
  top: 6px;
}

.status-icon.success.small {
  height: 15px;
  margin-right: 3px;
}
