.no-associated-aws-accounts_empty-state {
  padding: 0px 0px 16px;
}

.aws-account-selection .pf-v6-c-form__group-control .pf-v6-c-select {
  padding-right: var(--pf-t--global--spacer--md);
}

#contract-info.pf-v6-c-description-list {
  --pf-v6-c-description-list--RowGap: var(--pf-v6-global--gutter--sm);
}
