.ocm-create-osd-review-screen {
  h3 {
    margin-top: var(--pf-t--global--spacer--md);
    margin-bottom: var(--pf-t--global--spacer--md);
  }
  .pf-v6-c-description-list {
    --pf-v6-c-description-list--m-horizontal__term--width: 21ch;
    --pf-v6-c-description-list--RowGap: var(--pf-t--global--spacer--gutter--default);
  }

  .pf-v6-c-description-list__description .pf-v6-c-description-list__text {
    color: var(--pf-t--global--dark--text--color--200);
  }

  .review-screen-expandable-section__toggle-wrapper {
    display: inline-block;
  }

  .review-screen-item-expandable-section .pf-v6-c-expandable-section__content {
    padding-left: var(--pf-v6-c-expandable-section__content--PaddingInlineStart);
  }

  .pf-v6-c-expandable-section__toggle {
    color: rgb(0, 0, 0);
  }

  .pf-v6-c-description-list__text .popover-with-title-div {
    padding-top: 0;
  }
  .pf-v6-c-expandable-section{
    margin-top: var(--pf-v6-c-expandable-section--Gap);
  }

  .review-screen-expandable-section__toggle-wrapper {
    margin-top: 1rem;
  }

  // Fix a weird spacing issue on Safari where the grid items did not expand to
  // contain the content.
  .ocm-aws-vpc-table  .pf-v6-l-grid__item {
    min-height: auto;
    padding:3px
  }
}
