#autoscaling {
    .autoscaling__nodes-formGroup, .autoscaling__nodes-formGroup > .pf-c-form__group-control{
      >input {
       width: 60px;
       margin-right: var(--pf-global--spacer--sm);
      }
      >span {
       margin-right: var(--pf-global--spacer--sm);
      }
    }
    .autoscaling__container {
      margin-top: var(--pf-global--spacer--md);
    }
}
