.ocm-c-monitoring-health__card {
  &--header {
    h2.pf-v5-c-title {
      font-size: var(--pf-v5-c-title--m-md--FontSize);
    }
    svg {
      margin-right: 10px;
      margin-top: 2px;
    }
    .last-checkin {
      font-weight: 400;
    }
  }
}

.ocm-c-monitoring-status__card {
  &--body {
    h4.pf-v5-c-title {
      font-size: var(--pf-v5-c-title--m-lg--FontSize);
      margin-left: -30px;
    }
    .item-summary {
      max-width: 185px;
    }
  }
}

// all tabs

h2.pf-v5-c-title.card-title {
  font-size: var(--pf-v5-c-title--m-md--FontSize);
}

.status-icon {
  font-size: var(--pf-v5-global--icon--FontSize--md);
  margin-right: 5px;
}

.danger {
  color: var(--pf-v5-global--danger-color--100);
}
.info {
  color: var(--pf-v5-global--info-color--100);
}
.success {
  color: var(--pf-v5-global--success-color--100);
}
.warning {
  color: var(--pf-v5-global--warning-color--100);
}
