.uninstall-progress-list {
  &--icon-space-right {
    margin-right: 5px;
  }

  &--icon-error {
    color: var(--pf-t--global--icon--color--status--danger--default);
  }

  &--description-list {
    margin-bottom: 8px;
  }

  &--error-list {
    margin-top: 8px;
  }
}
