#scheduled-update-popover-cancel {
  padding-left: 0px;
}

.update-available {
  color: var(--pf-global--default-color--200);
}

.title {
  font-size: var(--pf-global--FontSize--sm);
  font-weight: var(--pf-global--FontWeight--bold);
}