.tree-view-custom-class {
  padding-bottom: 0;
}

.tree-view-select-panel.pf-v5-c-panel.pf-m-raised.pf-m-scrollable,
.tree-view-select-panel {
  max-height: 60%;
  height: auto;
  overflow: auto;
  width: min-content;
}

.tree-view-select-panel .pf-v5-c-panel__main {
  max-height: 100%;
}

.tree-view-select-panel .pf-v5-c-panel__main-body {
  padding: 0;
}

.pf-v5-c-menu-toggle.tree-view-select-menu-toggle {
  width: 100%;
  max-width: none;
}

.pf-v5-c-toolbar.tree-view-select-toolbar,
.pf-v5-c-toolbar.tree-view-select-toolbar .pf-v5-c-toolbar__content {
  padding: 0;
}
