.htpasswd-form {
  .field-label {
    font-size: var(--pf-v5-c-form__label--FontSize);
  }

  .suggestion {
    font-family: var(--pf-v5-global--FontFamily--monospace);
    border: 1px solid #ccc;
    padding: 1px 8px;
    background-color: #eee;
    cursor: auto;
  }

  .pf-v5-c-helper-text {
    margin-top: var(--pf-v5-c-form__helper-text--MarginTop);
  }
}
