.htpasswd-form {
  .field-label {
    font-size: var(--pf-v6-c-form__label--FontSize);
  }

  .suggestion {
    font-family: var(--pf-t--global--font--family--mono);
    border: 1px solid #ccc;
    padding: 1px 8px;
    background-color: #eee;
    cursor: auto;
  }

  .pf-v6-c-helper-text {
    margin-top: var(--pf-v6-c-form__helper-text--MarginBlockStart);
  }
}
