.ocm-c-pre-release__card {
  margin-top: var(--pf-v5-global--spacer--md);
  .pf-v5-c-card__title {
    padding: 0;
  }
  &--header:first-child {
    background-color: var(--pf-v5-global--warning-color--100);
    font-weight: normal;
    padding-bottom: var(--pf-v5-global--spacer--sm);
    padding-left: var(--pf-v5-global--spacer--lg);
    padding-top: var(--pf-v5-global--spacer--sm);
  }
  &--body {
    max-width: 700px;
    margin-top: var(--pf-v5-global--spacer--md);
    small {
      margin-top: var(--pf-v5-global--spacer--md);
    }
    ul li {
      font-weight: var(--pf-v5-global--FontWeight--bold);
    }
  }
}

.ocm-c-pre-release-instructions__card {
  &--body {
    max-width: 700px;
  }

  &--footer {
    max-width: 700px;
  }
}
