.ocm-l-ocp-releases__card {
  height: 100%;
}

.ocm-l-ocp-releases__channel-detail {
  color: var(--pf-global--secondary-color--100);
}

.ocm-l-ocp-releases__channel-detail-level {
  min-height: 29px;
}

.ocm-l-ocp-releases__channels {
  font-size: var(--pf-global--FontSize--sm);
  font-weight: var(--pf-global--FontWeight--regular);
}

.ocm-l-ocp-releases__subheading {
  font-size: var(--pf-global--FontSize--sm);
  font-weight: var(--pf-global--FontWeight--bold);
}
