.ocm-l-ocp-releases__card {
  height: 100%;
}

.ocm-l-ocp-releases__channel-detail {
  color: var(--pf-t--global--text--color--subtle);
}

.ocm-l-ocp-releases__channel-detail-level {
  min-height: 29px;
}

.ocm-l-ocp-releases__channels {
  font-size: var(--pf-t--global--font--size--sm);
  font-weight: var(--pf-v6-global--FontWeight--regular);
}

.ocm-l-ocp-releases__subheading {
  font-size: var(--pf-t--global--font--size--sm);
  font-weight: var(--pf-t--global--font--weight--heading--bold);
}
