.cluster-upgrade-dl {
  padding: 20px 0;
  dt {
    font-weight: bold;
    font-size: 14px;
    display: inline-block;
    margin-right: 14px;
  }
  dd {
    margin-bottom: 24px;
    font-size: 16px;
    display: inline-block;
    vertical-align: top;
  }
  dd > dl > dd {
    margin-bottom: var(--pf-global--spacer--sm);
  }
}

.upgrade-schedule-datepicker {
  .react-datepicker-wrapper, .react-datepicker__tab-loop, .pf-c-select {
    display: inline-block;
  }
  .react-datepicker-wrapper, .pf-c-select {
    width: 20%;
  }
  .pf-c-select {
    margin-left: var(--pf-global--spacer--xl);
    > ul {
      max-height: 300px;
      overflow-y: auto;
    }
  }
}

.ocm-upgrade-wizard {
   .pf-c-wizard__main-body {
    padding: 0;
    display: flex;
    flex-flow: column;
    height: 100%;
  }

  .version-selection-grid {
    padding: 24px;
  }

  .wizard-step-body {
    padding: 24px;
  }

  .wizard-step-title {
    padding: 24px 24px 0 24px;
  }

  #version-grid-wrapper {
    height: 100%;
    background-color: var(--pf-global--BackgroundColor--200);
  }

  .version-select-step-title {
    padding: 24px;
    background-color: #ffffff;
  }

  .card-footer-button {
    padding-left: 0px !important;
  }

  .version-card {
    height: 100%;
    
    .pf-c-label__content {
      font-weight: 400;
    }
  }
}
