.drawer-panel-content{
	&__logo {
		height: 3em;
		width: 3em;
		min-height: 3em;
		min-width: 3em;
	}
	&__learn-more {
		margin-bottom: 20px;
	}
	&__explanation-video {
		width: 400px;
		height: 222px;
		border-style: solid;
		border-width: 1px;
		border-color: lightgray
	}
}
