.sub-infra-billing-model .radio-button.pf-v5-c-radio {
  margin-bottom: var(--pf-v5-global--spacer--lg);
}

.sub-infra-billing-model .radio-button.pf-v5-c-radio:nth-child(1) {
  margin-top: var(--pf-v5-global--spacer--md);
}

#welcome-osd-text {
  margin-bottom: var(--pf-v5-global--spacer--xl);
}
