#byoc.flat-radio-buttons-flex-container {
  button {
    height: 85px;
    min-width: 460px;
    margin-left: 0;
    margin-right: 2em;
    div {
      min-width: 444px;
    }
  }
}

.sub-infra-billing-model .radio-button.pf-c-radio {
  margin-bottom: var(--pf-global--spacer--lg);
}

.sub-infra-billing-model .radio-button.pf-c-radio:nth-child(1) {
  margin-top: var(--pf-global--spacer--md);
}

#welcome-osd-text {
  margin-bottom: var(--pf-global--spacer--xl);
}
