.prerequisites-expandable-section {
  .pf-c-expandable-section__content {
    margin-top: 2px;
  }
}

.prerequisites-section {
  padding-left: 24px;
  .pf-c-content {
    p {
      margin-bottom: 8px;
    }
  }
}
