.associate-roles-drawer__tabs {
  --pf-v5-c-tabs__link--Color: --pf-v5-global--Color--100;

  &::before {
    border: none;
  }

  &.pf-m-box {
    --pf-v5-c-tabs__link--BackgroundColor: --pf-v5-global--BackgroundColor--100;
  }

  *[role='tablist'] {
    *[role='tab'] {
      border: var(--pf-v5-global--BorderWidth--sm) solid var(--pf-v5-global--BorderColor--100);
      &::before,
      &::after {
        border: none;
      }
      &[aria-selected='false'] {
        &:hover,
        &:focus {
          background-color: var(--pf-v5-global--BackgroundColor--200);
          border-color: var(--pf-v5-global--BorderColor--200);
        }
      }
      &[aria-selected='true'] {
        background-color: var(--pf-v5-global--palette--blue-50);
        border-color: var(--pf-v5-global--primary-color--100);
        z-index: var(--pf-v5-global--ZIndex--xs);
      }
    }

    .pf-v5-c-tabs__item {
      &:first-child *[role='tab'] {
        border-top-left-radius: var(--pf-v5-global--BorderRadius--sm);
        border-bottom-left-radius: var(--pf-v5-global--BorderRadius--sm);
      }

      &:last-child *[role='tab'] {
        border-top-right-radius: var(--pf-v5-global--BorderRadius--sm);
        border-bottom-right-radius: var(--pf-v5-global--BorderRadius--sm);
      }

      &:not(:first-child) *[role='tab'] {
        margin-left: calc(-1 * var(--pf-v5-global--BorderWidth--sm));
      }
    }
  }
}
