.ocm-p-subscriptions {
  .pf-v6-c-card__title {
    font-size: var(--pf-t--global--font--size--lg);
    font-weight: var(--pf-t--global--font--weight--body--default);
  }

  .ocm-l-ocp-subscription__section {
    .osp-list {
      padding-left: var(--pf-t--global--spacer--2xl);
      li {
        padding-left: var(--pf-t--global--spacer--sm);
      }
    }
  }

  .ocm-l-osd-subscription__section {
    .content-header {
      font-size: var(--pf-t--global--font--size--md);
      font-weight: var(--pf-t--global--font--weight--heading--bold);
    }
    .table-container {
      overflow-x: auto;
      .quota-table-used,
      .quota-table-max {
        word-break: normal;
      }
      .warn-icon {
        fill: var(--pf-t--global--icon--color--status--warning--default);
      }
    }
  }
}
