.ocm-c--reduxradiobutton-description {
  color: var(--pf-v5-global--Color--200);
  font-size: var(--pf-v5-global--FontSize--sm);
}

.enableuwmcreate {
  font-size: var(--pf-v5-global--FontSize--md);
  font-weight: var(--pf-v5-global--FontWeight--normal);
}

.clusterupdatespace {
  margin-top: var(--pf-v5-global--spacer--md);
}

#enable_user_workload_monitoring .pf-v5-l-split__item span {
  position: relative;
  right: 10px;
}
