$color-log-window-body-bg: #030303;
$color-log-window-header-bg: #72767b;
$color-log-window-text: #f5f5f5;
$font-family-log-window-body: $font-family-monospace;
$color-log-window-divider: $color-log-window-header-bg;

.log-window {
  color: $color-log-window-text;
  background-color: $color-log-window-body-bg;
  height: 100%;
  width: 100%;
}

.log-window__header {
  background-color: $color-log-window-header-bg;
  padding: 8px 10px 5px 10px;
}

.log-window__body {
  background-color: $color-log-window-body-bg;
  font-family: $font-family-log-window-body;
}

.log-window__scroll-pane {
  overflow: auto;
  padding-top: 10px;
  height: 20em;
}

.log-window__contents__text{
  padding-left: 10px;
  padding-right: 10px;
  white-space: pre;
  width: 0;
}

.logview-buttons {
  float: right;
}

.logview-title {
  display: inline-block;
}

:fullscreen .log-window div.log-window__scroll-pane {
  height: 89vh;
}
/* we need the prefixed :-webkit-full-screen to support some versions of Chrome,
 but because firefox wants the unprefixed version, it has to be its own selector
and not a selector list.

According to the spec: "a group of selectors containing an invalid selector is invalid."
https://www.w3.org/TR/selectors-3/#Conformance
*/
:-webkit-full-screen .log-window div.log-window__scroll-pane {
  height: 89vh;
}
:-moz-full-screen .log-window div.log-window__scroll-pane {
  height: 89vh;
}