$color-log-window-body-bg: #030303;
$color-log-window-header-bg: #72767b;
$color-log-window-text: #f5f5f5;
$font-family-log-window-body: var(--pf-global--FontFamily--monospace);
$log-window-container-min-height: 25em;

.log-window-container {
  background-color: #fff;
  display: flex;
  flex-direction: column;

  &--with-lines:not(:fullscreen) {
    height: $log-window-container-min-height;
  }
}

// must be a separate rule in order to render correctly in Safari
// for Safari 13
.log-window-container:-webkit-full-screen {
  height: 100%;
  width: 100%;
}

// must be a separate rule in order to render correctly in Safari
.log-window-container--with-lines:not(:-webkit-full-screen) {
  height: $log-window-container-min-height;
}

.log-window {
  color: $color-log-window-text;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.log-window__header {
  background-color: $color-log-window-header-bg;
  padding: 8px 10px 5px 10px;
}

.log-window__body {
  background-color: $color-log-window-body-bg;
  flex-grow: 1;
  font-family: $font-family-log-window-body;
  position: relative;
}

.log-window__scroll-pane {
  overflow: auto;
  padding-top: 10px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.log-window__contents {
  padding-left: 10px;
  padding-right: 10px;
  white-space: pre;
}

.logview-buttons {
  text-align: right;
}

#toggle-logs {
  --pf-c-expandable-section__content--MarginTop: 0;

  padding-top: 10px;
}
