/**
  Third Party / Dependency imports here
*/

//PF4 Styles
$pf-global--enable-reset: false;
$pf-global--disable-fontawesome: true;
$pf-global--font-path: "~@patternfly/patternfly/assets/fonts/";

@import "~react-datepicker/dist/react-datepicker.css";

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#root {
  height: 100%;
}

@import "./app";
@import "./log-window";
