// We are disabling PF4 base reset for now ($pf-global--enable-reset: false), so
// adding this back in here. PF4 base resets are for PF4-only apps.
html {
  height: 100%;
}

/*
  Open Shift masthead overrides:
  https://github.com/openshift/console/blob/master/frontend/public/style/_overrides.scss#L260

  These are temporary until OpenShift updates masthead treatment.
 */
.pf-c-page {
  &__header {
    background-color: var(--pf-global--BackgroundColor--dark-200);
    background-image: url('./images/pfbg_2000.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  // `.pf-c-page` specificity required
  .pf-c-page__main-section {
    --pf-c-page__main-section--PaddingTop: 0;
    --pf-c-page__main-section--PaddingRight: 0;
    --pf-c-page__main-section--PaddingBottom: 0;
    --pf-c-page__main-section--PaddingLeft: 0;
  }
}
// customizations to make the logo 178px and match OpenShift (without the hamburger)
.pf-c-page__header-brand-link {
  max-width: 178px;
}
.pf-c-brand {
  max-width: 100%;
  display: block;
}

/*
  Open Shift PF3/PF4 Base Font change (makes PF4 Overpass fonts slightly smaller):
  https://github.com/openshift/console/blob/ef1212655ba60571aaeec666843cd9f1ef139189/frontend/public/style/_layout.scss#L23

  Masthead is PF4 and uses base font size 16px, while the rest of the page remains 14px ($font-size-base)
 */
 .pf-c-page {
  --pf-global--FontSize--md: #{$font-size-base};
 }
 .pf-c-page__header {
  --pf-global--FontSize--md: calc(#{$pf-global--font-size-root} * 1px);
}
.modal-title {
  font-size: $font-size-base;
}

// Workdaround for toolbar until PF-R issue is resolved:
// https://github.com/patternfly/patternfly-react/issues/1333
@media screen and (max-width: 767px) {
  .pf-u-visible-on-md {
    display: none;
  }
}

// Temporary fix until PF Core issue is resolved:
// https://github.com/patternfly/patternfly-next/issues/1603
.pf-c-page {
  .pf-c-page__main-section:last-of-type, .pf-c-page__main-section:only-child {
    flex: 1 0 auto;
  }
}

.pf-c-dropdown {
  .pf-c-dropdown__menu {
    list-style: none; // Needed when not using the PF4 base reset styles
  }

  .pf-c-dropdown__menu-item {
    &:hover,
    &:focus {
      color: var(--pf-global--Color--dark-100); // Fix for PF3 CSS overriding PF4 CSS
    }
  }
}
