// We are disabling PF4 base reset for now ($pf-global--enable-reset: false), so
// adding this back in here. PF4 base resets are for PF4-only apps.
html {
  height: 100%;
}

/*
  Open Shift masthead overrides:
  https://github.com/openshift/console/blob/master/frontend/public/style/_overrides.scss#L260

  These are temporary until OpenShift updates masthead treatment.
 */
.pf-c-page {
  &__header {
    background-color: var(--pf-global--BackgroundColor--dark-200);
    background-image: url('./images/pfbg_2000.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  // `.pf-c-page` specificity required
  .pf-c-page__main-section {
    --pf-c-page__main-section--PaddingTop: 0;
    --pf-c-page__main-section--PaddingRight: 0;
    --pf-c-page__main-section--PaddingBottom: 0;
    --pf-c-page__main-section--PaddingLeft: 0;
  }
}
// customizations to make the logo 178px and match OpenShift (without the hamburger)
.pf-c-page__header-brand-link {
  max-width: 178px;
}
.pf-c-brand {
  max-width: 100%;
  display: block;
}

/*
  Open Shift PF3/PF4 Base Font change (makes PF4 Overpass fonts slightly smaller):
  https://github.com/openshift/console/blob/ef1212655ba60571aaeec666843cd9f1ef139189/frontend/public/style/_layout.scss#L23

  Masthead is PF4 and uses base font size 16px, while the rest of the page remains 14px ($font-size-base)
 */
 .pf-c-page {
  --pf-global--FontSize--md: #{$font-size-base};
 }
 .pf-c-page__header {
  --pf-global--FontSize--md: calc(#{$pf-global--font-size-root} * 1px);
}
.modal-title {
  font-size: $font-size-base;
}

// Workdaround for toolbar until PF-R issue is resolved:
// https://github.com/patternfly/patternfly-react/issues/1333
@media screen and (max-width: 767px) {
  .pf-u-visible-on-md {
    display: none;
  }
}


/*
  Secondary buttons look disabled:
  https://gitlab.cee.redhat.com/service/uhc-portal/issues/13

  Change style for btn-default
*/

// Mixin for active/focus/hover/open states
@mixin btn-def-override-active {
  background: $color-pf-white;
  color: $color-pf-blue;

  &::before {
    border: 2px solid $color-pf-blue;
  }
}

.btn-default:not(:disabled) {
  border-color: transparent;
  position: relative;
  background: $color-pf-white;
  color: $color-pf-blue;

  // Border
  &::before {
    content: '';
    position: absolute;
    top: -1px;
    right: -1px;
    bottom: -1px;
    left: -1px;
    border: 1px solid $color-pf-blue;
  }

  @at-root {
    .open .dropdown-toggle#{&},
    .open .dropdown-toggle#{&}:hover,
    .open .dropdown-toggle#{&}:active,
    .open .dropdown-toggle#{&}:focus {
      @include btn-def-override-active;
    }
  }

  &:hover,
  &:focus,
  &:active,
  &:active:focus {
    @include btn-def-override-active;
  }

  // Disable inner shadow
  @at-root .btn-group.open .dropdown-toggle#{&},
  &:active {
    box-shadow: none;
  }
}
