.ocm-c-networking-vpc-details__card {
    &--body {
    margin-right: var(--pf-global--spacer--3xl);
    }
    &--replace-button {
        margin-left: 8px;
        margin-right: 8px;
    }
    .details-card-dl {
        .pf-c-description-list__group {
            display: flex;
            dt {
                display: inline-block;
                width: 175px;
            }
            dd {
            display: block;
            }
        }
    }
    &.pf-c-form__group-label{
        font-size: 14px;
    }
}