.key-arn-alert {
    margin-top: var(--pf-global--spacer--sm);
    margin-bottom: var(--pf-global--spacer--md);
  }

.encryptionkeys-description {
    color: var(--pf-global--Color--200);
    font-size: var(--pf-global--FontSize--sm);
    padding-bottom: var(--pf-global--spacer--md);
    width: 100%;
  }