

.offering-card {
    width: 22em;
    height: 22em;

}

.offering-card .card-title {
    max-height: 3em;
}

.offering-card .card-textlist {
    color: var(--pf-c-content--small--Color);
    li::marker {
        font-size: var(--pf-u-font-size-xs);
    }
    
}

.offering-card .offering-logo {
    height: 2em;
    width: 2em;
}

.offering-card .logo-aws {
    height: 2em;
}