.ocm-upgrade-schedule-selection {
  padding-left: var(--pf-v5-global--spacer--lg);
  margin-bottom: var(--pf-v5-global--spacer--lg);
  .pf-v5-c-select > ul {
    max-height: 300px;
    overflow-y: auto;
  }
}
.ocm-c-upgrade-policy-radios {
  .pf-v5-c-radio {
    margin-bottom: var(--pf-v5-global--spacer--lg);
  }
}
.ocm-c-upgrade-node-draining-title {
  margin-bottom: var(--pf-v5-global--spacer--sm);
}

.ocm-c-upgrade-node-draining-subtitle {
  margin-bottom: var(--pf-v5-global--spacer--sm);
  font-size: var(--pf-v5-global--FontSize--lg);
  font-weight: var(--pf-v5-global--FontWeight--normal);
}

.ocm-c-upgrades-pdb-select {
  margin-top: var(--pf-v5-global--spacer--md);
  &__toggle {
    min-width: 150px;
  }
}

.ocm-c-upgrade-monitoring {
  margin-top: var(--pf-v5-global--spacer--lg);
  grid-gap: 24px;
}

.ocm-c-upgrade-monitoring-top {
  margin-top: var(--pf-v5-global--spacer--sm);
}

.automatic-cluster-updates-alert {
  margin-bottom: var(--pf-v5-global--spacer--lg);
  &.inline-alert {
    margin-left: var(--pf-v5-global--spacer--lg);
  }
}
