.downloads-page-header {
  h1 {
    margin-top: var(--pf-global--spacer--md);
  }
  .subheader {
    margin-top: var(--pf-global--spacer--lg);
    margin-bottom: var(--pf-global--spacer--md);
  }

  .expand-collapse-all {
    margin-left: var(--pf-global--spacer--xl);
  }
}
