.associate-aws-account-modal {
  .pf-c-alert {
    --pf-c-content--h4--MarginTop: 0;
    --pf-c-content--h4--FontSize: var(--pf-c-alert__title--FontSize);
    --pf-c-content--h4--FontWeight: var(--pf-c-alert__title--FontWeight);
  }
}