.ocm-c-overview-details__card,
.ocm-c-overview-subscription-settings__card {
  &--body {
    .pf-c-description-list {
      margin-top: var(--pf-global--spacer--md);
      --pf-c-description-list__group--RowGap: var(--pf-global--gutter--sm);
      dd button {
        margin-top: var(--pf-global--spacer--lg);
      }
      dl.pf-l-stack dt,
      .autoscale-data-t {
        color: var(--pf-global--secondary-color--100);
        font-size: var(--pf-global--FontSize--sm);
        font-weight: var(--pf-global--FontWeight--bold);
        margin-right: var(--pf-global--spacer--sm);
        text-transform: none;
      }
      .nodes-hint {
        margin-left: var(--pf-global--spacer--sm);
      }
    }
  }
}

// TODO: refactor the global margin-top for pf-c-card
#overviewTabContent {
  padding-top: 24px;

  .pf-c-card {
    margin-top: 0 !important;
  }
}
