.icon-space-right {
  margin-right: 5px;
}

.progressing-icon {
  --pf-v6-c-spinner--diameter: var(--pf-v6-c-spinner--m-md--diameter) !important;
  vertical-align: middle;
}

.expected-cluster-installation-text {
  color: var(--pf-t--global--text--color--subtle);
  padding-top: var(--pf-t--global--spacer--sm);
  font-size: var(--pf-t--global--font--size--md);
  font-weight: var(--pf-t--global--font--weight--body--default);
}
