.key-arn-alert {
  margin-top: var(--pf-v5-global--spacer--sm);
  margin-bottom: var(--pf-v5-global--spacer--md);
}

.encryptionkeys-description {
  font-size: var(--pf-v5-global--FontSize--sm);
  padding-bottom: var(--pf-v5-global--spacer--md);
  width: 100%;
}

.gcp-grid {
  padding-bottom: var(--pf-v5-global--spacer--md);
}
