#ruledetails-content {
	.pf-l-grid.ins-c-rule__report-detail {
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
	}

	.pf-c-card {
		margin-top: var(--pf-global--gutter--md);
	}

	#cl-details-top-row, #cl-details-top-row > .pf-l-split__item {
		width: 100%;
	}

	#cl-details-top-row ol, .pf-c-tab-content ol {
		margin-top: 10px;
		margin-left: 15px;
	}

	#cl-details-top-row p + pre, #cl-details-top-row ul + pre, .pf-c-tab-content p + pre, .pf-c-tab-content ul + pre {
		margin-bottom: 20px;
	}

	#cl-details-top-row .pf-c-list, .pf-c-tab-content  .pf-c-list {
		margin: 5px 0;
	}

	.cl-details-page-title {
		top: 0;
		transform: none;
		margin-bottom: 1rem;
	}

	.ins-c-critical-icon {
		width: 1em;
		height: 1em;
		vertical-align: -0.3em;
		fill: var(--pf-global--danger-color--200);
	}
	
	.disabled-tooltip {
		margin-right: var(--pf-global--spacer--sm);
		font-weight: lighter;
	}

	.danger-color {
		color: var(--pf-global--danger-color--100);
	}

	.disabled-recommendation-message > * {
		padding-left: var(--pf-global--spacer--xs);
	}

	.disabled-recommendation-title {
		font-size: var(--pf-global--FontSize--lg);
	}

	.ins-c-rule__risk-detail-title {
		font-weight: normal;
		margin-bottom: var(--pf-global--spacer--sm);
	}
}
