@import '~@patternfly/patternfly/sass-utilities/_all';

.pf-c-wizard.rosa-wizard {
  min-height: 60vh;
  .pf-c-wizard__footer {
    z-index: 0;
  }
  .ocm-c-wizard-intro-image-top {
    width: 90px;
    right: 46px;
    top: 36px;
    position: absolute;
  }
  .ocm-c-wizard-intro-image-bottom {
    width: 90px;
    right: 46px;
    top: 121px;
    position: absolute;
  }
  #node-labels-alert {
    margin-top: var(--pf-global--spacer--md);
  }
  .pf-c-form__field-group {
    border-top: 0;
  }
  .pf-c-content {
    .pf-c-alert {
      --pf-c-content--h4--MarginTop: 0;
      --pf-c-content--h4--FontSize: var(--pf-c-alert__title--FontSize);
      --pf-c-content--h4--FontWeight: var(--pf-c-alert__title--FontWeight);
    }
  }
}

.ocm-c-wizard-alert-steps {
  list-style: none;
}

.ocm-wizard-or-container {
  display: flex;
  justify-content: center;
  p {
    align-self: flex-end;
  }
  @media only screen and (max-width: $pf-global--breakpoint--md) {
    justify-content: start;
    margin-top: var(--pf-global--spacer--md);
    margin-bottom: var(--pf-global--spacer--sm);
  }
}

.ocm-instruction-block {
  border-inline-start:
          var(--pf-global--BorderWidth--lg)
          solid
          var(--pf-global--BorderColor--100);
  padding: var(--pf-global--spacer--lg);
}
