.cluster-upgrade-dl {
  padding: 20px 0;
  dt {
    font-weight: bold;
    font-size: 14px;
    display: inline-block;
    margin-right: 14px;
  }
  dd {
    margin-bottom: 24px;
    font-size: 16px;
    display: inline-block;
    vertical-align: top;
  }
  dd > dl > dd {
    margin-bottom: var(--pf-v5-global--spacer--sm);
  }
}

.upgrade-schedule-datepicker-input {
  width: 10em;
  margin-right: 5em;
  height: 4em;
}

.pf-v5-c-menu-toggle.upgrade-time-select {
  width: 10em;
}

.pf-v5-c-select.pf-m-expanded.upgrade-schedule-time-input .pf-v5-c-select__menu{
  max-height: 15em;
  overflow-y: auto;
}

.ocm-upgrade-wizard {
  .pf-v5-c-wizard__main-body {
    padding: 0;
    display: flex;
    flex-flow: column;
    height: 100%;
  }

  .version-selection-grid {
    padding: 24px;
  }

  .wizard-step-body {
    padding: 24px;
  }

  .wizard-step-title {
    padding: 24px 24px 0 24px;
  }

  #version-grid-wrapper {
    height: 100%;
    background-color: var(--pf-v5-global--BackgroundColor--200);
  }

  .version-select-step-title {
    padding: 24px;
    background-color: #ffffff;
  }

  .card-footer-button {
    padding-left: 0px !important;
  }

  .version-card {
    height: 100%;

    .pf-v5-c-label__content {
      font-weight: 400;
    }
  }
}
