.fuzzy-select__toggle.pf-v5-c-menu-toggle {
  max-width: none;
}

// New PF select doesn't support sticky footer oob. Adding a basic implementation
.fuzzy-select__footer {
  position: sticky;
  bottom: 0;
  background-color: var(--pf-v5-global--BackgroundColor--light-100);
}
// Compensating the max height of a scrollable select with footer because the footer is now sticky
// Increasing from 18.75rem (300px) to 23.75 (380px)
.fuzzy-select--scrollable-with-footer {
  --pf-v5-c-menu--m-scrollable__content--MaxHeight: 23.75rem;
}
