.title_icon {
    margin: 10px 0;
    color: var(--pf-global--warning-color--100);
}

.description {
    margin-left: 20px;
}

.description .pf-l-stack > :not(:last-child) {
    /* gutter="sm" doesn't work for some reason */
    margin-bottom: 5px;
}

