#insightsTabContent {
	.pf-c-card__body.no-padding {
		padding: 0;
	}

	.success-color {
		color: var(--pf-global--success-color--100);
	}

	.info-color {
		color: var(--pf-global--info-color--100);
	}

	.disabled-color {
		color: var(--pf-global--disabled-color--100);
	}

	.danger-color {
		color: var(--pf-global--danger-color--100);
	}

	.empty-table-message {
		padding-top: 64px;
	}

	.title-icon {
		color: var(--pf-global--warning-color--100);
		vertical-align: bottom !important;
		margin-bottom: 1px;
	}

	.title-icon.danger {
		color: var(--pf-global--danger-color--100);
	}

	.cluster-insights-description {
		margin-left: 20px;
		line-height: 2;
	}

	.cluster-insights-description .pf-l-stack > :not(:last-child) {
		/* gutter="sm" doesn't work for some reason */
		margin-bottom: 5px;
	}

	.insights-loading-container {
		padding: var(--pf-global--gutter--md);
	}

	.paragraph-margin-bottom {
		margin-bottom: var(--pf-global--FontSize--2xl);
	}

	.pf-c-label.disabled-tooltip {
		margin-right: var(--pf-global--spacer--sm);
	}

	.include-disabled-rules-link {
		margin-top: var(--pf-global--gutter--md);
	}

	.pf-c-data-toolbar__content {
		position: relative;
		padding-right: var(--pf-c-data-toolbar__content--PaddingRight);
		padding-left: var(--pf-c-data-toolbar__content--PaddingLeft);
	}

	.ins-c-primary-toolbar {
		padding: var(--pf-global--spacer--md);
	}

	.pf-c-empty-state {
		flex-direction: column;
	}
	.pf-c-chip-group {
		--pf-c-chip-group--m-toolbar--BackgroundColor: var(--pf-global--BackgroundColor--200);
		.pf-c-chip {
			margin-bottom: 0;
		}
	}
	.ins-c-critical-icon {
		width: 1em;
		height: 1em;
		vertical-align: -0.3em;
		fill: var(--pf-global--danger-color--200);
	}

	.rhcs-c-rules-table .pf-c-table .pf-c-table__toggle {
		padding: 0;
		width: 40px;
		padding-left: 16px;
		.pf-c-button {
			width: 24px;
			.pf-c-table__toggle-icon {
				height: 24px;
				width: 24px;
			}
		}
	}
}

.insights-justification-note {
	margin-top: var(--pf-global--spacer--md) !important;
	margin-bottom: var(--pf-global--spacer--sm) !important;
}

.insights-on-rule-disabled-feedback-modal .pf-c-modal-box__title {
	font-weight: normal;
}

.insights-on-rule-disabled-feedback-modal .error-message {
	color: var(--pf-global--danger-color--100);
}

.report-details-unfolded {
	padding-bottom: var(--pf-global--gutter--md);

	.ins-c-rule__report-detail {
		padding-bottom: 0;
	}

	&__link {
		padding: 0 40px;
	}
}