@import "~@patternfly/react-styles/css/components/DataToolbar/data-toolbar.css";

.battery {
    line-height: 2;
    display: flex;
}

.battery i {
	margin-right: 5px;
}

.battery button {
	padding-left: 0;
}

.pf-c-card__body.no-padding {
	padding: 0;
}

.success-color {
    color: var(--pf-global--success-color--200);
}

.info-color {
    color: var(--pf-global--active-color--300);
}

.empty-table-message {
    padding-top: 64px;
}

.title-icon {
    color: var(--pf-global--warning-color--100);
    vertical-align: bottom !important;
    margin-bottom: 1px;
}

.title-icon.danger {
	color: var(--pf-global--danger-color--100);
}

.description {
    margin-left: 20px;
    line-height: 2;
}

.description .pf-l-stack > :not(:last-child) {
    /* gutter="sm" doesn't work for some reason */
    margin-bottom: 5px;
}

.insights-loading-container {
    padding: var(--pf-global--gutter--md);
}

.paragraph-margin-bottom {
	margin-bottom: var(--pf-global--FontSize--2xl);
}

.disabled-tooltip {
    background-color: var(--pf-global--disabled-color--100);
    margin-right: var(--pf-global--gutter--md);
}

.include-disabled-rules-link {
    margin-top: var(--pf-global--gutter--md);
}
