.battery {
    line-height: 2;
    display: flex;
}

.battery i {
	margin-right: 5px;
}

.battery button {
	padding-left: 0;
}

.pf-c-card__body.no-padding {
	padding: 0;
}

.health-description > * {
	margin-bottom: 10px;
}
