.controlPlaneScreenTile {
  text-align: left !important;
  height: 100%;
  .pf-v6-c-tile__body {
    --pf-v6-c-tile__body--FontSize: var(--pf-t--global--font--size--md);
  }

  .pf-v6-c-tile__header {
    align-items: flex-start;
  }
  .pf-v6-c-tile__title {
    font-size: var(--pf-t--global--font--size--lg);
    font-weight: var(--pf-t--global--font--weight--heading--bold);
  }

  .pf-v6-c-alert {
    --pf-v6-c-alert--FontSize: var(--pf-t--global--font--size--md);
  }

}
