.co-btn-file {
  // from https://github.com/openshift/console/blob/master/frontend/public/components/utils/_file-input.scss
  // allows hiding the file input in such a way that it'd be visually hidden, but accessible to screen readers / assistive technologies
  overflow: hidden;
  position: relative;
  input[type=file] {
    background: white;
    cursor: inherit;
    display: block;
    filter: alpha(opacity=0);
    font-size: 100px;
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    outline: none;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
    z-index: 2;
  }
}
