.node-label-split-layout {
    width: 100%;
}
.node-label-split-item {
    width: 25%;
}
.label-button-padding-lg {
    padding-top: 2.3em !important;
}

.label-button-padding-sm {
    padding-top: .4em !important;
}