@import "~@patternfly/patternfly/sass-utilities/_all.scss";

$ocm-c-marketing-banner--breakpoint-map: build-breakpoint-map();

.ocm-c-marketing-banner {
  --ocm-c-marketing-banner--before--Opacity: 0.3;
  --ocm-c-marketing-banner--before--BackgroundSize: #{pf-size-prem(1600px)};

  --ocm-c-marketing-banner--PaddingTop: var(--pf-c-page__main-section--PaddingTop, var(--pf-global--spacer--2xl));
  --ocm-c-marketing-banner--PaddingRight: var(--pf-c-page__main-section--PaddingRight, var(--pf-global--spacer--md));
  --ocm-c-marketing-banner--PaddingBottom: var(--pf-c-page__main-section--PaddingBottom, var(--pf-global--spacer--2xl));
  --ocm-c-marketing-banner--PaddingLeft: var(--pf-c-page__main-section--PaddingLeft, var(--pf-global--spacer--md));

  --ocm-c-marketing-banner--before--content--width: 2fr;
  --ocm-c-marketing-banner--before--graphic--width: 1fr;

  --ocm-c-marketing-banner--m-with-graphic--GridTemplateAreas: "graphic content";
  --ocm-c-marketing-banner--m-with-graphic--GridTemplateColumns: var(--ocm-c-marketing-banner--before--graphic--width)
    var(--ocm-c-marketing-banner--before--content--width);

  --ocm-c-marketing-banner--m-graphic-right--GridTemplateAreas: "content graphic";
  --ocm-c-marketing-banner--m-graphic-right--GridTemplateColumns: var(--ocm-c-marketing-banner--before--content--width)
    var(--ocm-c-marketing-banner--before--graphic--width);

  @media screen and (min-width: $pf-global--breakpoint--lg) {
    --ocm-c-marketing-banner--before--Opacity: 0.65;
  }

  @media screen and (min-width: $pf-global--breakpoint--2xl) {
    --ocm-c-marketing-banner--before--Opacity: 1;
  }

  @include pf-build-css-variable-stack(
    "--ocm-c-marketing-banner--before--graphic--width",
    "--ocm-c-marketing-banner--graphic--width",
    $ocm-c-marketing-banner--breakpoint-map
  );

  &.ocm-m-with-graphic {
    &:not(.pf-m-limit-width),
    .pf-c-page__main-body {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-areas: "content";
      grid-gap: var(--ocm-m-marketing-page--ColumnGap);
      padding-top: var(--ocm-c-marketing-banner--PaddingTop);
      padding-bottom: var(--ocm-c-marketing-banner--PaddingBottom);

      @media screen and (min-width: $pf-global--breakpoint--md) {
        grid-template-areas: var(--ocm-c-marketing-banner--m-with-graphic--GridTemplateAreas);
        grid-template-columns: var(--ocm-c-marketing-banner--m-with-graphic--GridTemplateColumns);
      }

      // ensure all content appears above
      > * {
        position: relative;
        grid-area: content;
      }

      &::before {
        content: "";
        grid-area: content;
        margin-top: var(--ocm-c-marketing-banner--before--Offset--top);
        margin-right: var(--ocm-c-marketing-banner--before--Offset--right);
        margin-bottom: var(--ocm-c-marketing-banner--before--Offset--bottom);
        margin-left: var(--ocm-c-marketing-banner--before--Offset--left);
        background-image: url("../../styles/images/Headers-Red_Hat-ClusterManager-O2.svg");
        background-size: var(--ocm-c-marketing-banner--before--BackgroundSize);
        background-position-x: 600px;
        background-position-y: -200px;
        opacity: var(--ocm-c-marketing-banner--before--Opacity);

        @media screen and (min-width: $pf-global--breakpoint--md) {
          grid-area: graphic;
        }
      }
    }
  }

  &.ocm-m-full-bleed {
    --ocm-c-marketing-banner--before--Offset--top: calc(var(--ocm-c-marketing-banner--PaddingTop) * -1);
    --ocm-c-marketing-banner--before--Offset--bottom: calc(var(--ocm-c-marketing-banner--PaddingBottom) * -1);
    --ocm-c-marketing-banner--before--Offset--left: calc(var(--ocm-c-marketing-banner--PaddingLeft) * -1);
  }

  &.ocm-m-graphic-right {
    --ocm-c-marketing-banner--before--Offset--right: calc(var(--ocm-c-marketing-banner--PaddingRight) * -1);
    --ocm-c-marketing-banner--before--Offset--left: 0;

    @media screen and (min-width: $pf-global--breakpoint--md) {
      --ocm-c-marketing-banner--m-with-graphic--GridTemplateAreas: var(
        --ocm-c-marketing-banner--m-graphic-right--GridTemplateAreas
      );
      --ocm-c-marketing-banner--m-with-graphic--GridTemplateColumns: var(
        --ocm-c-marketing-banner--m-graphic-right--GridTemplateColumns
      );
    }
  }

  &[class*="pf-m-light-"].pf-c-page__main-section {
    .pf-c-button.pf-m-primary {
      color: white;
      background-color: #{$pf-color-blue-400};

      &:hover,
      &:focus,
      &:active {
        color: white;
        background-color: #{$pf-color-blue-500};
      }
    }

    .pf-c-button.pf-m-secondary,
    .pf-c-button.pf-m-tertiary {
      &::after {
        border: 0;
      }
    }
  }
}
