.cluster-create-page {
  h2.ocm-ocp-datacenter-title {
    display: inline-block;
    margin-right: var(--pf-v5-global--spacer--md);
  }
  .create-button {
    min-width: 170px;
  }
  h2.font-weight-light {
    font-weight: var(--pf-v5-global--FontWeight--normal);
  }

  table.install-options-table {
    margin-top: 10px;

    .pf-v5-c-table__th, .pf-v5-c-table__td {
      padding-left: 20px;
    }
  }

  table.managed-subscriptions {
    &.pf-v5-c-table tbody > tr > * {
      vertical-align: middle;
    }
  }

  table {
    .partner-logo {
      display: block;
      height: 24px;
      max-width: 2.5rem;
      margin-bottom: -2px;
    }

    #toggle-all-button {
      padding: 0px;
    }
  }

  #subscriptions {
    float: right;
    display: block;
  }
}
