@import '~@patternfly/patternfly/sass-utilities';

.ocm-c-wizard-get-started--card-icon {
  display: block;
  color: var(--pf-t--global--icon--color--brand--default);
  margin-bottom: 10px;
}

.ocm-c-wizard-get-started-terraform--card-icon {
  display: block;
  color: var(--pf-t--global--icon--color--brand--default);
  margin-bottom: 2px;
}

.ocm-instructions__list-item-contents {
  .pf-v6-c-alert.pf-m-inline {
    .pf-v6-c-alert__title {
      margin-top: 0;
    }
  }
}

.pf-v6-c-wizard.rosa-wizard {
  min-height: 60vh;
  .pf-v6-c-wizard__footer {
    z-index: 0;
  }
  .ocm-c-wizard-intro-image-container {
    position: absolute;
    right: 45px;
    top: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 24px;

    .ocm-c-wizard-intro-image-top {
      width: 60px;
    }
    .ocm-c-wizard-intro-image-bottom {
      width: 50px;
    }
  }
  #node-labels-alert {
    margin-top: var(--pf-t--global--spacer--md);
  }
  .pf-v6-c-form__field-group {
    border-top: 0;
  }
  .pf-v6-c-content {
    .pf-v6-c-alert {
      --pf-v6-c-content--h4--MarginBlockStart: 0;
      --pf-v6-c-content--h4--FontSize: var(--pf-v6-c-alert__title--FontSize);
      --pf-v6-c-content--h4--FontWeight: var(--pf-v6-c-alert__title--FontWeight);
    }
  }
}

.ocm-c-wizard-alert-steps {
  list-style: none;
}

.ocm-wizard-or-container {
  display: flex;
  justify-content: center;
  p {
    align-self: flex-end;
  }
  @media only screen and (max-width: $pf-v6-global--breakpoint--md) {
    justify-content: start;
    margin-top: var(--pf-t--global--spacer--md);
    margin-bottom: var(--pf-t--global--spacer--sm);
  }
}

.ocm-instruction-block {
  border-inline-start: var(--pf-t--global--border--width--extra-strong) solid var(--pf-t--global--border--color--default);
  padding: var(--pf-t--global--spacer--lg);
  .ocm-instruction-block_alert {
    margin-top: var(--pf-t--global--spacer--lg);
  }
}

// TODO: Should not be needed once https://github.com/patternfly/patternfly-react/issues/9884 is fixed
.rosa-get-started {
  .pf-v6-c-card__header-main {
    flex-basis: auto;
  }
}

// HCC is overwriting wizard styles, so we are overwriting them back to the PF styles in the next 2 blocks.
button.pf-v6-c-wizard__nav-link.pf-m-current {
  --pf-v6-c-wizard__nav-link-main--BackgroundColor: var(--pf-v6-c-wizard__nav-link--m-current--BackgroundColor);
}

button.pf-v6-c-wizard__nav-link::before {
  background-color: var(--pf-v6-c-wizard__nav-link--before--BackgroundColor);
  color: var(--pf-v6-c-wizard__nav-link--before--Color);
}