@import '~@patternfly/patternfly/sass-utilities/_all';

$ocm-c-marketing-banner--breakpoint-map: build-breakpoint-map();

.ocm-c-marketing-banner {
  --ocm-m-marketing-page--RowGap: var(--pf-global--spacer--xl);
  --ocm-m-marketing-page--ColumnGap: var(--pf-global--spacer--xl);
  --ocm-m-marketing-page--section--PaddingTop: var(--pf-global--spacer--xl);
  --ocm-m-marketing-page--section--PaddingRight: var(--pf-global--spacer--2xl);
  --ocm-m-marketing-page--section--PaddingBottom: var(--pf-global--spacer--xl);
  --ocm-m-marketing-page--section--PaddingLeft: var(--pf-global--spacer--2xl);

  .ocm-l-autofit {
    --ocm-l-autofit--m-gutter--RowGap: var(--ins-m-marketing-page--RowGap);
    --ocm-l-autofit--m-gutter--ColumnGap: var(--ins-m-marketing-page--ColumnGap);
  }

  .pf-c-page__main-section {
    --pf-c-page__main-section--PaddingTop: var(--ins-m-marketing-page--section--PaddingTop);
    --pf-c-page__main-section--PaddingRight: var(--ins-m-marketing-page--section--PaddingRight);
    --pf-c-page__main-section--PaddingBottom: var(--ins-m-marketing-page--section--PaddingBottom);
    --pf-c-page__main-section--PaddingLeft: var(--ins-m-marketing-page--section--PaddingLeft);
  }

  .ocm-c-marketing-banner {
    --ocm-c-marketing-banner--PaddingTop: var(--pf-global--spacer--2xl);
    --ocm-c-marketing-banner--PaddingBottom: var(--pf-global--spacer--2xl);
  }

  a {
    color: #000;
    text-decoration: none;
  }

  .pf-l-grid {
    --pf-l-grid--m-gutter--GridGap: var(--pf-global--spacer--xl);
  }
}



.dashboard-emptystate-card .pf-c-card__body {
  a {
    display: block;
    margin-top: 16px;
  }

  .pf-c-button {
    padding-left: 0;
  }

  .pf-c-button > .pf-c-button__icon {
    float: right;
    margin-left: 5px;
  }
}

.dashboard-emptystate-card{
  max-width: 570px;
}

#dashboard-emptystate-osd {
  padding-bottom: var(--pf-global--spacer--lg);
}

#overview-emptystate-get-productive .flex-pair{
  div{
    margin-bottom: var(--pf-global--spacer--lg);
    @media (max-width: 480px) {
      width: 338px;
    }
    @media (min-width: 481px) and (max-width: 768px) {
      width: 520px;
    }
    @media (min-width: 779px) and (max-width: 1199px){
      width: 463px;
    }
  }
  div:first-child{
      @media (min-width: 1023px) {
      margin-right: var(--pf-global--spacer--lg);
    }
  }
}

#emptystate-learn-more {
  display: flex;
  flex-wrap: wrap;

  iframe {
    min-height: 375px;
  }

  .pf-c-list{
   list-style: none;
  }

  div:first-child{
    @media (max-width: 769px) {
      margin-bottom: var(--pf-global--spacer--lg);
    }
    @media (min-width: 737px) {
      margin-right: var(--pf-global--spacer--lg);
    }
  }
}

#request-information-btn {
  text-decoration: none;
  button {
    display: block;
    margin-top: var(--pf-global--spacer--md);
  }
}

#create-cluster-card-image {
  height: 12em;
  width: 18em;
  padding-right: 1em;
  padding-top: 1em;
}