#ruledetails-content {
  .disabled-tabs {
    .pf-c-tabs__link {
      pointer-events: none !important;
      color: var(--pf-global--disabled-color--100) !important;
    }

    .pf-c-tabs__link::after {
      border: none !important;
    }
  }
}
