#subscriptions-content {
  .pf-c-card {
    margin-bottom: var(--pf-global--spacer--lg);
  }
  .osd-table-container {
    overflow-x: auto;
  }
  table {
    margin-top: var(--pf-global--spacer--md);
  }
  .warn-icon {
    fill: var(--pf-global--warning-color--100);
  }
  .section-header {
    font-size: var(--pf-global--FontSize--lg);
    font-weight: 400;
    padding-bottom: 0;
  }
  .section-text {
    margin-top: var(--pf-global--spacer--sm);
    padding-bottom: 0;
  }
  .content-header {
    font-size: var(--pf-global--FontSize--md);
    font-weight: 700;
    margin-top: var(--pf-global--spacer--lg);
    margin-bottom: 0;
  }
  .quota-table-used, .quota-table-max {
    word-break: normal;
  }
  .ocp-list {
    padding-left: 50px;
    margin: 16px 0 16px 0;
    li { padding-left: 10px; }
  }
  .subscriptions-empty-state {
    background-color: white;
  }
}
