@import '~@patternfly/patternfly/sass-utilities/_all';

.ocm-c-overview {
  max-width: 1710px;

  a.overview-clusters-link {
    &:hover {
      text-decoration: none;
    }
  }

  .ocm-overview-clusters__card {
    height: 100%;
    span.clusters-with-issues-zero {
      font-size: var(--pf-global--FontSize--3xl);
      padding-right: var(--pf-global--spacer--sm);
    }
    span.clusters-with-issues-non-zero {
      color: var(--pf-global--danger-color--100);
      font-size: var(--pf-global--FontSize--3xl);
      padding-right: var(--pf-global--spacer--sm);
    }
  }

  .ocm-c-metrics-charts__card {
     min-height: 300px;
    .pf-c-card__header .pf-c-alert {
      margin-top: 10px;
    }
  }

  @media only screen and (max-width: $pf-global--breakpoint--md) {
    .ocm-overview-clusters__card {
      .pf-c-table.clusters-with-issues td {
        text-align: left;
      }
    }
  }
}
