.ocm-c-support-notification-contacts__card,
.ocm-c-support-support-cases__card {
  &--header {
    .pf-v6-c-title {
      margin-bottom: var(--pf-t--global--spacer--md);
    }
    .support-subtitle {
      font-size: var(--pf-t--global--font--size--md);
      font-weight: var(--pf-t--global--font--weight--body--default);
    }
  }
  &--body {
    .pf-v6-c-button {
      margin-top: var(--pf-t--global--spacer--md);
    }
  }
}
