.drawer-panel-body {
  padding-top: 24px !important;
}

body .ocm-c-addons__drawer {
  &--header {
    img {
      height: 50px;
    }
  }

  &--panel-content {
    z-index: 2;

    /* Undo the margin set in app.scss */
    .pf-c-card {
      margin-top: 0 !important;
    }
  }

  &--panel-gallery {
    z-index: 1;
  }
}

.ocm-addons-tab {
  &--configuration-title {
    color: var(--pf-global--Color--100);
    font-family: RedHatText;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    font-weight: normal;
  }

  &--configuration-title-icon {
    color: var(--pf-global--Color--200);
  }

  &--parameter-tooltip-icon {
    height: 17px;
    width: 18px;
    padding-left: 4px;
    margin-right: 3px;
    color: var(--pf-global--Color--200);
  }

  &--addon-drawer {
    margin-top: 24px;
  }

  &--drawer-panel-body {
    padding-top: 24px;

    .addons-radio {
      display: flex;
      align-items: center;

      input {
        margin-top: 0;
      }
    }

    .info-icon {
      color: var(--pf-global--info-color--100);
      cursor: pointer;
    }

    .info-button {
      padding: 0 0 0 2px;
    }
  }
}

.ocm-addons-failed {
  &--error-box {
    margin-top: 24px;
  }

  &--error-button {
    font-size: 14px !important;
  }
}
