span.redux-rich-input-field {
  border-right: none;
  border-bottom-width: var(--pf-v5-global--BorderWidth--md);

  &.pf-v5-c-form-control {
    --pf-v5-c-form-control__icon--m-status--Color: transparent;
  }
  &.redux-rich-input-field_not-valid {
    border-bottom-color: var(--pf-v5-global--danger-color--100);
  }
  &.redux-rich-input-field_valid {
    border-bottom-color: var(--pf-v5-global--success-color--100);
  }
  &.redux-rich-input-field_info {
    border-bottom-color: var(--pf-v5-global--info-color--100);
  }
}

button.redux-rich-input-field-button {
  &:after {
    border-left: none;
    border-bottom-width: var(--pf-v5-global--BorderWidth--md);
  }
  &.redux-rich-input-field-button_not-valid:after {
    border-bottom-color: var(--pf-v5-global--danger-color--100);
  }
  &.redux-rich-input-field-button_valid:after {
    border-bottom-color: var(--pf-v5-global--success-color--100);
  }
  &.redux-rich-input-field-button_info:after {
    border-bottom-color: var(--pf-v5-global--info-color--100);
  }
  .redux-rich-input-field-icon_info {
    color: var(--pf-v5-global--info-color--100);
  }
  .redux-rich-input-field-icon_success {
    color: var(--pf-v5-global--success-color--100);
  }
  .redux-rich-input-field-icon_danger {
    color: var(--pf-v5-global--danger-color--100);
  }
}
