#field-array-label {
  font-size: var(--pf-c-form__label--FontSize);
}

#field-array-help-text {
  font-size: var(--pf-c-form__helper-text--FontSize);
  margin-top: var(--pf-c-form__helper-text--MarginTop);
  margin-bottom: 8px;
}

#field-array-title {
  margin-bottom: 8px !important;
}

.field-grid-item {
  margin-top: -16px;
  margin-bottom: 8px;
  &.minus-button {
    width: min-content;
  }
}
