.ocm-instructions__list-item {
  counter-increment: ocm-instructions;
  display: flex;
  margin: 0 0 var(--pf-t--global--spacer--xl);

  &:not(:last-child) {
    border-bottom: 1px solid var(--pf-t--global--border--color--default);
    padding-bottom: var(--pf-t--global--spacer--xl);
  }

  &::before {
    border: 2px solid var(--pf-t--global--border--color--default);
    border-radius: 100%;
    content: counter(ocm-instructions);
    flex-shrink: 0;
    font-size: 28px;
    height: var(--pf-t--global--spacer--2xl);
    text-align: center;
    width: var(--pf-t--global--spacer--2xl);
  }

  &-simple {
    counter-increment: ocm-instructions;
    display: flex;

    &:not(:last-child) {
      margin-bottom: var(--pf-t--global--spacer--xl);
    }

    &::before {
      content: 'Step ' counter(ocm-instructions) ':';
      flex-shrink: 0;
      padding-right: var(--pf-t--global--spacer--lg);
      white-space: nowrap;
      font-size: var(--pf-v6-c-title--m-lg--FontSize);
      font-weight: bold;
    } 
  }

  &-contents {
    margin: 0 0 0 var(--pf-t--global--spacer--xl);
  }
}
