.popover-with-title-div{
    display: inline-block;
    padding-top: var(--pf-global--spacer--md);
}

.popover-with-title-button{
    padding: 0;
}

.popover-with-title-span{
    color: var(--pf-global--primary-color--100);
}