.pf-v6-c-card__title .support-status-label {
  font-size: var(--pf-t--global--font--size--xs);
  font-weight: var(--pf-t--global--font--weight--body--default);
}

.support-status-label--clickable {
  cursor: pointer;
}

// override Insights link styling for <a> in <footer>
.support-status-popover footer a {
  color: var(--pf-t--global--text--color--link--default) !important;
  margin: 0 !important;
}
