.product-overview-card {

  &__logo {
    height: 3em;
    width: 3em;
  }
}

.product-overview-card .card-title {
  max-height: 3em;
}

.product-overview-card .card-textlist {
  color: var(--pf-v6-c-content--small--Color);
  li::marker {
    font-size: var(--pf-v6-u-font-size-xs);
  }
}
