.ocm-c-cost-savings-price-radios {
  padding-left: var(--pf-global--spacer--lg);
  padding-top: var(--pf-global--spacer--md);
}

.ocm-c-cost-savings-max-price__number_input {
  padding-left: var(--pf-global--spacer--2xl);
  white-space: nowrap;
}
