.ocm-c-overview-advisor {
  &--card {
    &__title {
      display: inline-block;
      margin-right: 9px;
    }
  }

  &--enabled-link {
    tspan {
      fill: var(--pf-t--global--text--color--link--default) !important;
      cursor: pointer;

      &:hover {
        fill: var(pf-t--global--text--color--link--hover) !important;
        text-decoration: underline;
      }
    }
  }

  &--disabled-link {
    tspan {
      fill: gray !important;
    }
  }
}
