span.dev-preview-label {
  background: var(--pf-t--global--color--nonstatus--gray--default);
  color: var(--pf-t--global--text--color--nonstatus--on-gray--default);
}

span.dev-preview-label svg {
  color: var(--ins-color--orange);
}
