.ocm-c-networking-vpc-details__card {
  &--body {
    margin-right: var(--pf-v5-global--spacer--3xl);
  }
  &--replace-button {
    margin-left: 8px;
    margin-right: 8px;
  }
  .details-card-dl {
    .pf-v5-c-description-list__group {
      display: flex;
      dt {
        display: inline-block;
        width: 175px;
      }
      dd {
        display: block;
      }
    }
  }
  &.pf-v5-c-form__group-label {
    font-size: 14px;
  }
}
