.pf-c-wizard.osd-wizard {
  min-height: 60vh;
  .pf-c-wizard__footer {
    z-index: 0;
  }
  .ocm-c-wizard-intro-image {
    height: 200px;
    width: 200px;
    right: var(--pf-global--spacer--md);
    top: var(--pf-global--spacer--xl);
    position: absolute;
  }
  .pf-c-wizard__main-body {
    padding-bottom: var(--pf-global--spacer--sm);
    padding-top: var(--pf-global--spacer--xl);
  }
  #node-labels-alert {
    margin-top: var(--pf-global--spacer--md);
  }
  .pf-l-grid.pf-m-gutter {
    grid-gap: var(--pf-global--spacer--lg); // match --pf-c-form--GridGap 24px
  }
}
