.pf-c-wizard.osd-wizard {
  min-height: 60vh;
  .pf-c-wizard__footer {
    z-index: 0;
  }
  .ocm-c-wizard-intro-image {
    height: 200px;
    width: 200px;
    right: 0;
    top: 0;
    position: absolute;
  }
}