.pf-v5-c-wizard.osd-wizard {
  min-height: 60vh;
  .pf-v5-c-wizard__footer {
    z-index: 0;
  }
  .ocm-c-wizard-intro-image {
    height: 200px;
    width: 200px;
    right: var(--pf-v5-global--spacer--md);
    top: var(--pf-v5-global--spacer--xl);
    position: absolute;
  }
  #node-labels-alert {
    margin-top: var(--pf-v5-global--spacer--md);
  }
  .pf-v5-l-grid.pf-m-gutter {
    grid-gap: var(--pf-v5-global--spacer--lg); // match --pf-v5-c-form--GridGap 24px
  }
  .pf-v5-c-form__field-group {
    border-top: 0;
  }
}
