$widget-min-height: 250px;

.ocm--cost-card {
  min-height: $widget-min-height;

  &__body {
    display: flex;
    flex-direction: column;

    .ocm--cost-clusters {
      display: flex;
      flex-direction: row-reverse;

      .pf-v6-c-content dt:not(:first-child) {
        font-weight: normal;
      }
    }

    .ocm--cost-icon {
      height: 75px;
      margin-bottom: 0;
    }

    .ocm--cost-total {
      &__desc {
        color: var(---pf-t--global--text--color--subtle);
      }
    }

    .pf-v6-c-empty-state {
      padding: 0;
    }
  }
}
