@import '~@patternfly/patternfly/sass-utilities/_all';

.pf-v5-c-list.pf-m-bordered.pf-m-plain > .rosa-expandable-list-item {
   padding: 0;
   margin: 0;
}

.pf-v5-c-list.pf-m-bordered.pf-m-plain > .rosa-expandable-list-item > div {
   box-shadow: none; 
}

.rosa-expandable-list-item h3 {
   color: var(--pf-v5-global--BackgroundColor--dark-100);
}

.rosa-aws-redhat-vertical-logo {
   padding-right: 0;
}

.rosa-cube-icon {
   color: var(--pf-v5-global--primary-color--100)
}