@import '~@patternfly/patternfly/sass-utilities';

.pf-v6-c-list.pf-m-bordered.pf-m-plain > .rosa-expandable-list-item > div {
   box-shadow: none; 
}

.rosa-expandable-list-item h3 {
   color: var(--pf-t--global--text--color--regular);
}

.rosa-aws-redhat-vertical-logo {
   padding-right: 0;
}

.rosa-cube-icon {
   color: var(--pf-t--global--icon--color--brand--default)
}