.cluster-autoscaling-form {
  margin-top: 1rem;

  .pf-v5-c-form__helper-text .default-value,
  .pf-v5-c-form__helper-text.pf-m-error .default-value {
    /* Keep the grey color even when the value is invalid */
    color: var(--pf-v5-global--Color--200);
    font-size: small;
  }
}
