.cluster-autoscaling-form {
  margin-top: 1rem;

  .pf-v6-c-form__helper-text,
  .pf-v6-c-helper-text__item.pf-m-error .pf-v6-c-helper-text__item-text {
    /* Keep the grey color even when the value is invalid */
    color: var(--pf-t--global--text--color--subtle);
    font-size: small;
  }
}
