.ocm--cost-breakdown-card {

  &__body {
    display: flex;
    flex-direction: column;

    .ocm--cost-icon {
      height: 75px;
      margin-bottom: 0;
    }

    .ocm--cost-title {
      .pf-c-title {
        display: inline;
      }
    }

    .ocm--cost-total {
      font-weight: var(--pf-global--FontWeight--light);
    }

    .pf-c-empty-state {
      padding: 0;
    }
  }
}
