.ocm-c-monitoring-health__card {
  &--header {
    h2.pf-v6-c-title {
      font-size: var(--pf-v6-c-title--m-md--FontSize);
    }
    svg {
      margin-right: 10px;
      margin-top: 2px;
    }
    .last-checkin {
      font-weight: 400;
    }
  }
}

.ocm-c-monitoring-status__card {
  &--body {
    h4.pf-v6-c-title {
      font-size: var(--pf-v6-c-title--m-lg--FontSize);
      margin-left: -30px;
    }
    .item-summary {
      max-width: 185px;
    }
  }
}

// all tabs

h2.pf-v6-c-title.card-title {
  font-size: var(--pf-v6-c-title--m-md--FontSize);
}

.status-icon {
  font-size: var(--pf-t--global--icon--size--font--md);
  margin-right: 5px;
}

.danger {
  color: var(--pf-t--global--color--status--danger--default);
}
.info {
  color: var(--pf-t--global--color--status--info--default);
}
.success {
  color: var(--pf-t--global--color--status--success--default);
}
.warning {
  color: var(--pf-t--global--color--status--warning--default);
}
